---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}
<section class="cta-section theme-bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">A Blog About Software Development And Life</h2>
    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
    <form class="signup-form form-inline justify-content-center pt-3">
      <div class="form-group">
        <label class="sr-only" for="semail">Your email</label>
        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
  </div>
  <!--//container-->
</section>
{%- if paginator.posts.size > 0 -%}
<section class="blog-list px-3 py-5 p-md-5">
  <div class="container">
    <div class="row">
      {%- for post in paginator.posts -%}
      {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
      <div class="col-md-4 mb-3">
        <div class="card blog-post-card">
          <img class="card-img-top" src="{{ post.thumb_card }}" alt="image">
          <div class="card-body">
            <h5 class="card-title"><a class="theme-link"
                href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h5>
            <p class="card-text">
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
            </p>
            <p class="mb-0"><a class="more-link" href="{{ post.url | relative_url }}">Read more &rarr;</a></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Published {{ post.date | date: date_format }}</small>
          </div>
        </div>
        <!--//card-->
      </div>
      <!--//col-->
      {%- endfor -%}
    </div>
    <!--//row-->


    <nav class="blog-nav nav nav-justified my-5">
      <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i
          class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
      <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i
          class="arrow-next fas fa-long-arrow-alt-right"></i></a>
    </nav>

  </div>
</section>
{%- endif -%}